# Server Config
PORT=30004
NODE_ENV=production

# Database (SQLite is auto-initialized on VPS)
DATABASE_FILE=database.sqlite

# API Keys
GEMINI_API_KEY=AIzaSyBkRM0CGZ--8SHWZ8TeAtQz5jKom1YUCFg

# Google OAuth Client ID for Drive Backup
# (To get this, create OAuth credentials at console.cloud.google.com and add your VPS domain to Authorized Javascript Origins)
VITE_GOOGLE_CLIENT_ID=650987857432-qqg1vlsajou61ficoctt1n8kibo72k08.apps.googleusercontent.com
